body {
    background-repeat: repeat;
    background-image: url('dungBackground.png');
    background-repeat: repeat;
    overflow: hidden;
}

#gameContainer {
    position: absolute;
    width: 1000px; 
    height: 100vh; /* Full height */
    
}

#box {
    position: absolute;
    width: 120px;
    height: 160px;
    display:block;
    bottom: 0px;
    left: 0px;   
    background-repeat: no-repeat;
    background-image: url('player.png');
    background-position: 0px -10px;
    transform-origin: center;
    z-index: 1;
}

#statBox {
    position: fixed; /* Changed from absolute to fixed */
    width: 100px;
    height: 100px;
    top: 20px;
    left: 20px;
    background-color: rgba(0,0,0,0.5); /* Added for visibility */
    color: white;
    z-index: 100;
    will-change: transform;
}

.exit {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url('exit.png');
    background-size: cover;
}
.ladder {
    position: absolute;
    background-image: url('ladder.png');
    width: 20px;
    height: 580px;
    /* background-color: #8B4513; Brown color for the ladder */
    bottom: 0px; /* Adjust as needed */
    left: 200px; /* Adjust as needed */
}

.enemy {
    position: absolute;
    background-image: url('enemy.png');
    background-size: cover;
    width: 80px;
    height: 80px;
    bottom: 0px;
    left: 100px; /* Adjust as needed */
}

.lava {
    position:absolute;
    width: 100%;
    height:3000px;
    bottom: -3000px;
    left: 0px;
    z-index: 1;
    background-image: url('lava.png');
    background-repeat: repeat;
    background-color: #7a0000;
}

.platform {
    position: absolute;
    width: 20%;
    height: 20px;
    background-color: #202020;
    bottom: 200px;
    left: 100px;
}
